.checkedIngredient {
  text-decoration: line-through solid black;
}

.Btn {
  background-color: #9ae99c;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  size: 20px;
  text-align: center;
  text-decoration: none;
}

.BtnOff {
  background-color: #9ae99c;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  size: 20px;
  text-align: center;
  text-decoration: none;
}

.Btn:hover {
  background-color: #63a266;
  transition: 100ms;
}

.img {
  align-items: center;
  justify-content: center;
}
